@model Quiz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Related Questions
        </dt>
        <dd class="col-sm-10">
            @if (Model.Questions.Any())
            {
                <ul>
                    @foreach (var question in Model.Questions)
                    {
                        <li>@question.QuestionText</li>
                    }
                </ul>
            }
            else
            {
                <p>Quiz is empty.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-tertiary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
